In [13]:
#Import library
import pandas as pd
import numpy as np
#Splitting
from sklearn.model_selection import train_test_split

In [14]:
data=pd.read_csv("mnist_train.csv", header=None) #Since file doesn't have headings.

In [15]:
data.shape

(60000, 785)

In [16]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#Extract independent and depdendent variables.

X=data.iloc[:,1:]
Y=data.iloc[:,0]

In [19]:
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(X,Y, test_size=0.2, random_state=4)

In [22]:
#Create a neural network.
#A class is perceptron, anything that is a class is capitalized.
from sklearn.linear_model import Perceptron
#Object learns - here, the object is per.
per=Perceptron()

In [24]:
per.fit(X_TRAIN,Y_TRAIN)

Perceptron()

In [25]:
#Perceptron has learned the training data.

In [26]:
y_pred=per.predict(X_TEST)

In [27]:
y_pred

array([2, 7, 6, ..., 6, 4, 2], dtype=int64)

In [29]:
Y_TEST.values
#They should be the same...the model is looking the same here.

array([2, 7, 6, ..., 6, 4, 2], dtype=int64)

In [31]:
from sklearn.metrics import accuracy_score

In [36]:
print(accuracy_score(Y_TEST,y_pred))

0.8745